@model IEnumerable<BoatsMontenegro.Models.Boat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divPocetna">
    <p class="tekstPocetna">
        Ako ste obozalavac vodenih plovila,na pravom ste mjestu! <br /> <br />Vec 12 godina pruzamo usluge u sektoru iznajmljivanja vodenih plovila,
        u nasoj ponudi imate preko 500 brodova na preko 15 razlicitih destinacija.<br /> <br /><br />Zakupite brod i krenite u plovidbu Jadranom.
    </p>
</div>
<br />
<br />

<center>
    <h1 style="color: white; font-size: 300%; font-family: Arial, Helvetica, sans-serif;" class="NalovIndex">
        Pogledajte najbolju ponudu koju imamo!
    </h1>
</center> <br />

@foreach (var item in Model)
{
    <div class="container-fluid d-flex justify-content-center" style="width:25%; float:left; margin:60px">
        <div class="row mt-5">
            <div class="col-sm-11">
                <div class="card">
                    <img src="https://static-s.aa-cdn.net/img/ios/1349495816/26ec3b631f7d13ca183aa420ae8495f7?v=1" class="card-img-top" width="100%">
                    <div class="card-body pt-0 px-0">
                        <div class="d-flex flex-row justify-content-between mb-0 px-3">
                            <small class="text-muted mt-1">Cijena</small>
                            <h6>@Html.DisplayFor(modelItem => item.Price)€ / 24h</h6>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span class="text-muted">Kategorija</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0">@Html.DisplayFor(modelItem => item.Category)</h5></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span class="text-muted">Kapacitet</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0">@Html.DisplayFor(modelItem => item.Capacity) osoba</h5></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between p-3 mid">
                            <div class="d-flex flex-column">
                                <small class="text-muted mb-1">Motor</small>
                                <div class="d-flex flex-row">
                                    <img src="https://imgur.com/iPtsG7I.png" width="35px" height="25px"><div class="d-flex flex-column ml-1">
                                        <small class="ghj">@Html.DisplayFor(modelItem => item.Engine)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <small class="text-muted mb-2">Potrosnja goriva</small><div class="d-flex flex-row">
                                    <img src="~/ImagesFolder/gas-pump.png"><h6 class="ml-1">@Html.DisplayFor(modelItem => item.FuelConsumption)</h6>
                                </div>
                            </div>
                        </div>

                        <a href="/Ponuda/ShowOne/@item.BoatID">
                            <iput type="button" class="btn btn-danger btn-block">Rezervisi</iput>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
