@{
    Layout = "_LayoutSEARCH";
}

@using BigGame.Models
@model List<BBA>

<div class="container py-5 content-box" style="padding:0!important;  ">
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" transform="rotate(180)">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f8f9fa" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
    @if (Model != null)
    {
        <div class="row text-center text-white mb-5" style="padding:15px;">
            <div class="col-lg-7 mx-auto">
                @if (Model.Count != 0)
                {
                    <h1>Dostupni brodovi za odabrane datume</h1>

                }
                else
                {
                    <h1 class="display-4">Nažalost, trenutno nema ponuda za odabrane datume. :( </h1>

                }
                <div class="searchInfo">
                    <h2><b>@ViewBag.StartDate.ToString("dd.MM.yyyy hh:mm")</b></h2>
                    -
                    <h2><b>@ViewBag.EndDate.ToString("dd.MM.yyyy hh:mm")</b></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow gallery-display">
                    <!-- list group item-->


                    @foreach (BBA bba in Model)
                    {
                        <a href="../Uvid/BoatAvailability/@bba.BoatAvailability.BoatAvailabilityID">
                            <li class="list-group-item">
                                <!-- Custom content-->
                                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                    @if (bba.Boat.BoatImages != null && bba.Boat.BoatImages.Count > 0)
                                    {
                                        <img src="~/images/boats/@bba.Boat.BoatImages[0].Image" alt="Generic placeholder image" width="200" class="ml-lg-5 order-2 order-lg-2">
                                    }
                                    <div class="media-body order-1 order-lg-1">
                                        <h5 class="mt-0 font-weight-bold mb-2"> @bba.Boat.Name</h5>
                                        <p class="font-italic text-muted mb-0 small"> @bba.Boat.Desctription </p>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                            <button class="btn-success my-2"> @bba.BoatAvailability.Price $/h</button>

                                        </div>
                                        <p class="font-italic text-muted mb-0 small">Ponuda važi:</p>
                                        <p class="font-italic text-muted mb-0 small"> @bba.BoatAvailability.StartDate.ToString("dd.MM.yyyy") - @bba.BoatAvailability.EndDate.ToString("dd.MM.yyyy") </p>

                                    </div>
                                </div> <!-- End -->
                            </li>
                        </a>
                        <!-- End -->
                    }
                </ul> <!-- End -->
            </div>
        </div>
    }
    else
    {
        <div class="row text-center text-white mb-5" style="padding:15px;">
            <div class="col-lg-7 mx-auto">

                <h1>Unesite ispravne datume kada želite da plovite.</h1>
            </div>
        </div>

    }
</div>