<link rel="stylesheet" href="~/css/profile.css" />
@model BigGame.Models.User

<script src="~/js/profileImage.js"></script>

<section class="section about-section gray-bg" id="about">
    <div class="container paddingNMP"  >
        <div class="row align-items-center flex-column">

            <div class="col-lg-6 ">
                <div class="about-avatar d-flex justify-content-center ">
                    <div id="dvPreview" class="d-flex justify-content-center ">
                        @if (Model.ProfileImage != null)
                        {
                            <img src="~/images/users/@Model.ProfileImage" title="" alt="" style="max-width:40%;border-radius:50px;">
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text go-to">
                    @if (ViewBag.isMyProfile)
                    {
                        <div style="text-align:center">
                            <input type="file" id="slika" onchange="getBase64()" style="display:none" accept="image/*" />
                            <i class="bi bi-file-earmark-image" onclick="openFileDialog()"></i>
                            <span style="display:none" id="saveBtn" onclick="uploadProfileImage(@Model.UserID)"><i class="bi bi-check"></i>Sacuvaj</span>
                        </div>
                    }
                    <h3 style="text-align:center" class="dark-color">@Model.FirstAndLastName()</h3>
                    <h6 style="text-align:center" class="theme-color lead">#@Model.UserID </h6>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media justify-content-center">
                                <label>Birthday</label>
                                <p>4th april 1998</p>
                            </div>
                            <div class="media justify-content-center">
                                <label>Age</label>
                                <p>22 Yr</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media justify-content-center">
                                <label>E-mail</label>
                                <p>@Model.Email</p>
                            </div>
                            <div class="media justify-content-center">
                                <label>Phone</label>
                                <p>@Model.Phone</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row justify-content-center">
                <div class="col-8 col-lg-4">
                    <a href="~/Reservation/ReservationsOfUser/@Model.UserID">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="150" data-speed="150">
                                @if (Model.Reservations != null)
                                {
                                    @Model.Reservations.Count
                                }
                                else
                                {
                                    @:0
                                }
                            </h6>

                            <p class="m-0px font-w-600">Rezervacija</p>

                        </div>
                    </a>
                </div>
                <div class="col-8 col-lg-4">
                    <a href="~/Boat/BoatsOfUser/@Model.UserID">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="850" data-speed="850">
                                @if (Model.Boats != null)
                                {
                                    @Model.Boats.Count
                                }
                                else
                                {
                                    @:0
                                }
                            </h6>
                            <p class="m-0px font-w-600">Plovnih vozila</p>

                        </div>
                    </a>
                </div>
                <div class="col-8 col-lg-4">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="190" data-speed="190">0</h6>
                        <p class="m-0px font-w-600">Pruženih usluga</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="font-weight-light text-center display-5">Trenutno aktivne ponude korisnika @Model.FirstAndLastName() </div>
        @foreach (BIgGameCore.Models.BBA bba in ViewBag.ActiveBoatAvailabilities)
        {
            <a href="../../Uvid/BoatAvailability/@bba.BoatAvailability.BoatAvailabilityID">
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">

                        @if (ViewBag.isMyProfile)
                        {
                            <a onclick="deleteBoatAvailability(@bba.BoatAvailability.BoatAvailabilityID)">
                                <i class="bi bi-trash  remove-icon"></i>
                            </a>
                        }
                        @if (bba.Boat.BoatImages.Count > 0)
                        {
                            <img src="~/images/boats/@bba.Boat.BoatImages[0].Image" alt="Generic placeholder image" width="200" class="ml-lg-5 order-2 order-lg-2">
                        }
                        <div class="media-body order-1 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2"> @bba.Boat.Name</h5>
                            <p class="font-italic text-muted mb-0 small"> @bba.Boat.Desctription </p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <button class="btn-success my-2"> @bba.BoatAvailability.Price $/h</button>

                            </div>
                            <p class="font-italic text-muted mb-0 small">Ponuda važi:</p>
                            <p class="font-italic text-muted mb-0 small"> @bba.BoatAvailability.StartDate.ToString("dd.MM.yyyy") - @bba.BoatAvailability.EndDate.ToString("dd.MM.yyyy") </p>

                        </div>
                    </div> <!-- End -->
                </li>
            </a>
            <!-- End -->
        }
        @if (ViewBag.isMyProfile)
        {
            <a href="../../BoatAvailability/AddNewBoatAvailability">
                <div class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center justify-content-center flex-column flex-lg-row p-3">

                        <h2><i class="bi bi-plus-square-fill"> Dodaj novu ponudu</i></h2>
                    </div> <!-- End -->
                </div>
            </a>
        }
        </div>
</section>

<script>
    function deleteBoatAvailability(ID) {
        if (confirm("Da li ste sigurni da zelite da obrisete ponudu " + ID + " ?")) {
            window.location.href = "/BoatAvailability/deleteBoatAvailability/" + ID;
        }
    }
</script>