@model HotelWorkOrderManagement.DTO.Task.DataOut.TaskDataOut;

<div class="container">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
         <div class="form-group row d-flex align-items-center">
            <div class="col-3">

            </div>
            <div class="col-6">
                <select asp-for="Domain" class="form-control" >
                    @{
                        <option selected="selected" disabled="disabled">Choose the Domain:</option>
                        string[] Domains = new string[]{"Maintaining","Housekeeping"};
                        foreach(string domain in Domains)
                        {
                            <option value="@domain">@domain</option>
                        }
                    }
                    </select>
                <p id="DomainValidation" class="text-danger"></p>
            </div>
        </div>

        <div class="row">
                <div class="col-7">
                <label asp-for="Name"></label>
                </div>
                <div class="offset-1 col-4">
                <label asp-for="Status"></label>
                </div>
        </div>
        <div class="form-group row">
            <div class="col-7 rounded-3">
                <input asp-for="Name" class="form-control shadow"/>
                <span id="NameValidation" class="text-danger"></span>
            </div>
            <div class="offset-1 col-4 ">
                <select asp-for="Status" class="form-control shadow" >
                    @{
                        <option selected="selected" disabled="disabled">Status:</option>
                        string[] Status = new string[]{"Active","Finished","Processing"};
                        foreach(string status in Status)
                        {
                            <option value="@status">@status</option>
                        }
                    }
                    </select>
                <span id="StatusValidation" class="text-danger" ></span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <label asp-for="Description"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <textarea asp-for="Description" rows="4" class="form-control shadow"></textarea>
                <span id="DescriptionValidation" class="text-danger" ></span>
            </div>
        </div>
        <br/>
        <div class="row">
              <div class="col-8">
                <label >Position</label>
                <div class="col-10 rounded-3">
                <input name="@Model.Position" value="@Model.Position" id="Position" class="form-control shadow"/>
                <span id="PositionValidation" class="text-danger"></span>
                </div>
              </div>
              <div class="col-4">
                <label>Priority</label>
                <div class="col-12">
                <select asp-for="Priority" class="form-control shadow" >
                    @{
                        <option selected="selected" disabled="disabled">Priority:</option>
                        string[] Priority = new string[]{"High","Normal"};
                        foreach(string priority in Priority)
                        {
                            <option value="@priority">@priority</option>
                        }
                    }
                    </select>
               <span id="PriorityValidation" class="text-danger"></span>
                </div>
              </div>
        </div>
        <br/>
    
        @{
        bool eq=ViewBag.Group==false;
        }
        <div class="row">
              <div class="col-6 border-end border-dark">
                <label >Created By</label>
                <div class="col-12 rounded-3">
                <input name="@Model.CreatedById" value="@Model.CurrentUser" title="@ViewBag.CurrentUserId" id="CreatedById" class="form-control shadow" disabled="disabled"/>
                </div>
              </div>
              <div class="col-6">
                <label>Asignee</label>
                <div class="col-12">
                @if(ViewBag.Group==false){               
                <select asp-for="AsigneeIndividualId" class="form-control shadow">
                <option selected="selected" disabled="disabled">Individuals:</option>
                    @if(Model.Individuals!=null)
                    foreach(var individual in Model.Individuals)
                {
                    <option value="@individual.Id">@individual.Name @individual.LastName</option>
                }
                </select>
                }else if(ViewBag.Group==true){                
                    <select asp-for="AsigneeGroupId" class="form-control">
                    <option selected="selected" disabled="disabled">Groups:</option>
                    @if(Model.Groups!=null)
                    foreach(var group in Model.Groups)
                {
                    <option value="@group.Id">@group.Name</option>
                }
                   </select>
                }
                <span id="AsigneeValidation" class="text-danger"></span>



            </div>
              </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-7">
                <label>Due date</label>
            </div>
            <div class="col-5">
                <label hidden="@eq">For repairment</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <input asp-for="DueDate" class="form-control shadow"/>
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="col-5">
                <select hidden="@eq" for="EquipmentToRepairId" class="form-control shadow">
                    <option selected="selected" disabled="disabled">Equipment :</option>
                    @if(Model.EquipmentPieces!=null)
                    foreach(var equipmentPiece in Model.EquipmentPieces)
                {
                    <option value="@equipmentPiece.Id">@equipmentPiece.Name</option>
                }
                </select>
                <span asp-validation-for="EquipmentToRepairId" class="text-danger"></span>
            </div>
        </div>
        <br/>
        <div class="row" >
            <div class="col-6">
                <label>Repetitive start:</label>
            </div>
            <div class="col-6">
                <label>Repetitive Setting:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input asp-for="RepetitiveStart" class="shadow form-control"/>
                <span asp-validation-for="RepetitiveStart" class="text-danger"></span>
            </div>
            <div class="col-6">
                <input asp-for="RepetitiveSetting" class="shadow form-control"/>
                <span asp-validation-for="RepetitiveSetting" class="text-danger"></span>
            </div>
        </div>
        <br/>

        </div>
        <div class="container">
        <div class="form-group row">
           <div class="custom-file">  
               <label class="custom-file-label" for="customFile">Choose file</label>  
               <div class="row bg-housekeeping ">
                   <div class="col-1">
                       <span class="bi bi-images h1"></span>
                   </div>
                   <div class="col-5">
                       <input type="file" id="CommentFile" class="custom-file-input btn shaddow" onchange="getBase64()" accept="image/png, image/jpeg" /> 
                       <span asp-validation-for="Attachment" class="text-danger"></span>
                   </div>              
               </div>
            </div>  
        </div>
        </div>
        
        <hr/>
        <div class="form-group row">
            <div class="col-5">
                <button onclick="AddNewTask()" class="btn btn-danger form-control" id="SubmitTask" >Submit the task</button>
            </div>
        </div>


</div>

@section Scripts{
    <script src="~/js/Task/AddNewTaskScript.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}