@model HotelWorkOrderManagement.DTO.Task.DataIn.TaskDataIn;
@{
    bool individual = Model.AsigneeIndividualId.HasValue;
    bool repair = Model.EquipmentToRepairId.HasValue;
}
<div class="container">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Name" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Description" ></label>
            </div>
            <div class="col-6">
                <input asp-for="Description" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Description" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group row" hidden="hidden">
            <div class="col-3">
                <label asp-for="CreatedById" ></label>
            </div>
            <div class="col-6">
                <input asp-for="CreatedById" class="form-control" disabled="disabled"/>
                <span asp-validation-for="CreatedById" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label >CreatedBy</label>
            </div>
            <div class="col-6">
                <input name="@Model.CreatedById" id="CreatedBy" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="CreatedOn"></label>
            </div>
            <div class="col-6">
                <input asp-for="CreatedOn" class="form-control"disabled="disabled" />
                <span asp-validation-for="CreatedOn" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Priority" disabled="disabled"></label>
            </div>
            <div class="col-6">
                <input asp-for="Priority" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Priority" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Status"></label>
            </div>
            <div class="col-6">
                <input asp-for="Status" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Status" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Position"></label>
            </div>
            <div class="col-6">
                <input asp-for="Position" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Position" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Domain"></label>
            </div>
            <div class="col-6">
                <input asp-for="Domain" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" hidden="hidden">
            <div class="col-3">
                <label asp-for="AsigneeIndividualId"></label>
            </div>
            <div class="col-6">
                <input asp-for="AsigneeIndividualId" class="form-control" disabled="disabled" />
                <span asp-validation-for="AsigneeIndividualId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" hidden="@(!individual)">
            <div class="col-3">
                <label >Asignee Individual</label>
            </div>
            <div class="col-6">
                <input name="@Model.AsigneeIndividualId" id="AsigneeIndividual" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row" hidden="hidden">
            <div class="col-3">
                <label asp-for="AsigneeGroupId"></label>
            </div>
            <div class="col-6">
                <input asp-for="AsigneeGroupId" class="form-control"disabled="disabled" />
            </div>
        </div>
        <div class="form-group row" hidden="@individual">
            <div class="col-3">
                <label >Asignee Group</label>
            </div>
            <div class="col-6">
                <input name="@Model.AsigneeGroupId" id="AsigneeGroup" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row" hidden="hidden">
            <div class="col-3">
                <label asp-for="EquipmentToRepairId"></label>
            </div>
            <div class="col-6">
                <input asp-for="EquipmentToRepairId" class="form-control"disabled="disabled" />
            </div>
        </div>
        <div class="form-group row" hidden="@repair">
            <div class="col-3">
                <label >Equipment to Repair</label>
            </div>
            <div class="col-6">
                <input name="@Model.EquipmentToRepairId" id="EquipmentToRepair" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="RepetitiveStart"></label>
            </div>
            <div class="col-6">
                <input asp-for="RepetitiveStart" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-3">
                <label asp-for="RepetitiveSetting"></label>
            </div>
            <div class="col-6">
                <input asp-for="EquipmentToRepairId" class="form-control" disabled="disabled"/>
            </div>
        </div>
        <br />
        <div class="form-group row">
            
            <div class="col-3">
                <a  class="btn btn-danger form-control">Drop The Task</a>
            </div>
            <div class="col-3">
                <a  class="btn btn-primary form-control">Make Task Repetitive</a>
            </div>
            <div class="col-3">
                <a href="https://localhost:7221/TaskStateChanges/GetTaskStateChanges?id=@Model.Id" class="btn btn-primary form-control">History of Changes</a>
            </div>
            <div class="col-3">
                <a class="btn btn-success popup form-control" data-toggle="modal" id="NewStatusModal">SET NEW STATUS <i class="fa fa-plus"></i></a> 
            </div>
        </div>
</div>

<!--Modal-->  
<div aria-hidden="true" aria-labelledby="modal-setting-new-status" role="dialog" tabindex="-1" id="modal-setting-new-status" class="modal fade">  
    <div class="modal-dialog">  
        <!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Set New Status</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
                <div class="modal-body form-horizontal">  
                    <div class="form-group row">
                        <div class="col-6">  
                                <label >Task:</label>
                            </div>  
                            <div class=" col-6">
                        <label>@Model.Name</label>
                            </div>  
 
                    </div> 
                    <br/>
                    <div class="form-group row"> 
                        <div class="col-6"> 
                         <label>Item for Repair</label>
                         </div>
                        <div class="col-6">  
                            <input type="text" id="ItemToRepair" disabled="disabled"/>  
                        </div>  
                    </div>
                    <br/>
                    <div class="form-group row">  
                        <div class="col-6">
                             <label >Status:</label>
                        </div>

                        <div class="col-6">  
                   <select class="form-select" id="Status">
                        <option selected="selected" disabled="disabled"style="color:green" >Active</option>
                        <option value="Finished" style="color:red">Finished</option>
                        <option value="Dropped" style="color:orange">Dropped</option>
                   </select> 
                        </div>  
                    </div>  
                    <br/>
  
                    <div class="form-group row">  
                            <div class="col-6">  
                                <label >Description:</label>
                            </div>  
                            <div class=" col-6">
                        <textarea class="border" id="Description" required="required"></textarea>
                            </div>  
                        </div>  
                    </div>  
               
                <!--Modal Footer Start-->  
                <div class="modal-footer">  
                    <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>  
                    <button onclick="SubmitChange(@Model.Id)" class="btn btn-success relative" id="btnSubmit">   
                        Submit  
                    </button>  
                </div>  
                <!--Modal Footer End-->   
  
                </div>  
  
  
<!--Modal Body End-->  
    </div>  
</div> 

@section Scripts{ 
<script src="~/js/Task/TaskScript.js"></script>
}