@model HotelWorkOrderManagement.DTO.Task.DataOut.TaskDataOut;
@{
    bool signal = Model.RepetitiveStart.HasValue;
}
<div class="container">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    @{
        bool maint = Model.Domain == "Maintaining";
    }
        <div class="row">
            <div class="btn-group col-8 offset-2" role="group" aria-label="Basic example">
              <button type="button" class="btn bg-maintaining pr-1 @(maint==true? "shadow border border-primary":"")" disabled>Maintaining</button>
              <button type="button" class="btn bg-housekeeping @(maint==false? "shadow border border-primary":"")" disabled>Housekeeping</button>
            </div>
        </div>
        <br />
        <div class="row">
                <div class="col-7">
                <label asp-for="Name"></label>
                </div>
                <div class="offset-1 col-4">
                <label asp-for="Status"></label>
                </div>
        </div>
        <div class="form-group row">
            <div class="col-7 rounded-3">
                <input asp-for="Name" class="form-control shadow" disabled="disabled"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="offset-1 col-4 ">
                <input asp-for="Status" class="form-control shadow" disabled="disabled"/>
                <span asp-validation-for="Status" class="text-danger" ></span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <label asp-for="Description"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <textarea asp-for="Description" rows="4" class="form-control shadow" disabled="disabled"></textarea>
                <span asp-validation-for="Description" class="text-danger" ></span>
            </div>
        </div>
        <br/>
        <div class="row">
              <div class="col-8">
                <label >Position</label>
                <div class="col-10 rounded-3">
                <input name="@Model.Position" value="@Model.Position" id="Position" class="form-control shadow" disabled="disabled"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              </div>
              <div class="col-4">
                <label>Priority</label>
                <div class="col-12">
                <input name="@Model.Priority" value="@Model.Priority" id="Priority" class="form-control" disabled="disabled"/>
              
                </div>
              </div>
        </div>
        <br/>
    @{
        bool i = Model.Attachment == null;
    }
        <div class="row" hidden="@i">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="~/tasks/@Model.Attachment"      
                    height="350em" width="350em"   
                 asp-append-version="true"/>        
            </div>
        </div>
        <br/>
        @{
        bool eq=Model.EquipmentToRepairId==null;
        }
        <div class="row">
              <div class="col-6 border-end border-dark">
                <label >Created By</label>
                <div class="col-12 rounded-3">
                <input name="@Model.CreatedById" value="@Model.CreatedByName @Model.CreatedByLastName" id="CreatedBy" class="form-control shadow" disabled="disabled"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              </div>
              <div class="col-6">
                <label>Asignee</label>
                <div class="col-12">
                @if(Model.AsigneeIndividualId!=null){<input name="@Model.AsigneeIndividualId" value="@Model.AsigneeIndividualName @Model.AsigneeIndividualLastName" id="AsigneeIndividual" class="shadow form-control" disabled="disabled"/>
                }else{<input name="@Model.AsigneeGroupId" value="@Model.AsigneeGroup" id="AsigneeGroup" class="shadow form-control" disabled="disabled"/>}
                </div>
              </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-7">
                <label>Due date</label>
            </div>
            <div class="col-5">
                <label hidden="@eq">For repairment</label>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <input name="@Model.DueDate" value="@Model.DueDate" id="DueDate" class="form-control shadow" disabled="disabled"/>
            </div>
            <div class="col-5">
                <input hidden="@eq" name="@Model.EquipmentToRepairId" value="@Model.EquipmentToRepair" id="EquipmentToRepair" class="form-control shadow" disabled="disabled"/>
            </div>
        </div>
        <br/>
        @{
        bool Rse = Model.RepetitiveSetting == null;
        bool Rst = Model.RepetitiveStart == null;
         }
        <div class="row" hidden="@Rst">
            <div class="col-6">
                <label>Repetitive start:</label>
            </div>
            <div class="col-6" hidden="@Rse">
                <label hidden="@eq">Repetitive Setting:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6" hidden="@Rst">
                <input asp-for="RepetitiveStart" class="shadow form-control" disabled="disabled"/>
            </div>
            <div class="col-6" hidden="@Rse">
                <input asp-for="RepetitiveSetting" class="shadow form-control" disabled="disabled"/>
            </div>
        </div>
        <br/>

        </div>
       <br />
    
        <div class="form-group row">
            
            <div class="col-6 border-end">
                <a  class="btn btn-danger form-control" id="DropTaskModal">Drop The Task</a>
            </div>
            <div class="col-6">
            <a  class="btn btn-primary form-control" onclick="ModalRepetitiveTask('@signal','@Model.Id')">@{
                    if (!Model.RepetitiveStart.HasValue) { <text>Make Task Repetitive</text>} else { <text>Remove repetition</text> }
                }</a>
        </div>
        </div>
        <hr/>
        <div class="form-group row">
            <div class="col-6 border-end">
                <a href="https://localhost:7221/TaskStateChanges/GetTaskStateChanges?id=@Model.Id" class="btn btn-primary form-control">History of Changes</a>
            </div>
            <div class="col-6">
                <a class="btn btn-success popup form-control" data-toggle="modal" id="NewStatusModal">SET NEW STATUS <i class="fa fa-plus"></i></a> 
            </div>
        </div>
        <br/>
        <br/>
        <div class="container">
        <form>
        <div class="form-group row">
           <div class="custom-file">  
               <label class="custom-file-label" for="customFile">Choose file</label>  
               <div class="row bg-housekeeping ">
                   <div class="col-1">
                       <span class="bi bi-images h1"></span>
                   </div>
                   <div class="col-5">
                       <input type="file" id="CommentFile" class="custom-file-input btn shaddow" onchange="getBase64()" accept="image/png, image/jpeg" /> 
                   </div>              
               </div>
            </div>  
        </div>
        </form>
        <div class="row">
        <textarea id="Comment" placeholder="Leave your comment" class="form-control"></textarea>
        <div class="row">
            <div class="col-md-6">
                <button class="btn-primary btn" onclick="SubmitComment('@Model.Id','@ViewBag.UserId')">Submit your comment</button>
            </div>
        </div>
        </div>
        <br />
        <div class="row">
            <h3>@Model.Comments.Count Comments</h3>
        </div>
        @foreach(var Comment in Model.Comments)
        {   
            <div class="container border">
            
            <div calss="row">
                <h5>@Comment.CreatedBy.Name @Comment.CreatedBy.LastName</h5>
            </div>
            
            <div calss="row">
                <p>@Comment.Text</p>
            </div>
            @if(Comment.CommentImage!=null)
                {
                <div class="container p-5">
                    <div class="row">
                        <div class='align-content-lg-start'>
                             <img src="~/comments/@Comment.CommentImage"      
                              height="250" width="220"   
                              asp-append-version="true" />        
                        </div>
                    </div>
                </div> 
                }
                

            </div>
            <div class="row">
                <div calss="col-4">
                <button class="btn-danger btn" onclick="RemoveComment('@Comment.Id')">Remove</button>
                </div>
            </div>
            <br/>
            
        }
    </div>

</div>

<!--Modal-->  
<div aria-hidden="true" aria-labelledby="modal-setting-new-status" role="dialog" tabindex="-1" id="modal-setting-new-status" class="modal fade">  
    <div class="modal-dialog">  
        <!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Set New Status</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DismissModal('#modal-setting-new-status')"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
                <div class="modal-body form-horizontal">  
                    <div class="form-group row">
                        <div class="col-6">  
                                <label >Task:</label>
                            </div>  
                            <div class=" col-6">
                        <label>@Model.Name</label>
                            </div>  
 
                    </div> 
                    <br/>
                    <div class="form-group row"> 
                        <div class="col-6"> 
                         <label>Item for Repair</label>
                         </div>
                        <div class="col-6">  
                            <input type="text" id="ItemToRepair" disabled="disabled"/>  
                        </div>  
                    </div>
                    <br/>
                    <div class="form-group row">  
                        <div class="col-6">
                             <label >Status:</label>
                        </div>

                        <div class="col-6">  
                   <select class="form-select" id="ModalStatus">
                       @{
                       string[] Statuses = new string[]{"Active","Finished","Dropped" };
                        foreach(string status in Statuses)
                        {
                            bool s = Model.Status == status;
                            <option selected="@s" value="@status">@status</option>
                        }
                        }
                   </select> 
                        </div>  
                    </div>  
                    <br/>
  
                    <div class="form-group row">  
                            <div class="col-6">  
                                <label >Description:</label>
                            </div>  
                            <div class=" col-6">
                        <textarea class="border" id="ModalDescription" required="required"></textarea>
                            </div>  
                        </div>  
                    </div>  
               
                <!--Modal Footer Start-->  
                <div class="modal-footer">  
                    <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button" onclick="DismissModal('#modal-setting-new-status')">Cancel</button>  
                    <button onclick="SubmitChange(@Model.Id)" class="btn btn-success relative" id="btnSubmit">   
                        Submit  
                    </button>  
                </div>  
                <!--Modal Footer End-->   
  
                </div>  
  
  
<!--Modal Body End-->  
    </div>  
</div> 

<!--ModalDropTask-->  
<div aria-hidden="true" aria-labelledby="modal-drop-task" role="dialog" tabindex="-1" id="modal-drop-task" class="modal fade">  
    <div class="modal-dialog">  
        <!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Task drop</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DismissModal('#modal-drop-task')"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
                <div class="modal-body form-horizontal">  
                    <div class="form-group row">
                        <div class="col-6">  
                                <label >Task:</label>
                            </div>  
                            <div class=" col-6">
                        <label>@Model.Name</label>
                            </div>  
 
                    </div> 
                    <br/>
                    <div class="form-group row"> 
                        <div class="col-6"> 
                         <label>Item for Repair</label>
                         </div>
                        <div class="col-6">  
                            <input type="text" id="ItemToRepairTaskDrop" disabled="disabled"/>  
                        </div>  
                    </div>
                    <br/>  
                    <br/>
  
                    <div class="form-group row">  
                            <div class="col-6">  
                                <label >Description:</label>
                            </div>  
                            <div class=" col-6">
                        <textarea class="border" id="ModalDescriptionTaskDrop" required="required"></textarea>
                            </div>  
                        </div>  
                    </div>  
               
                <!--Modal Footer Start-->  
                <div class="modal-footer">  
                    <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button" onclick="DismissModal('#modal-drop-task')">Cancel</button>  
                    <button onclick="DropTask(@Model.Id)" class="btn btn-success relative" id="btnSubmit">   
                        Submit  
                    </button>  
                </div>  
                <!--Modal Footer End-->   
  
                </div>  
  
  
<!--Modal Body End-->  
    </div>  
</div> 

<!--Modal 2-->  
<div aria-hidden="true" aria-labelledby="modal-repetitive-task" role="dialog" tabindex="-1" id="modal-repetitive-task" class="modal fade">  
    <div class="modal-dialog">  
        <!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Set New Status</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DismissModal('#modal-repetitive-task')"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
                <div class="modal-body form-horizontal">  
                    <div class="form-group row">
                        <div class="col-6 border">  
                              <p>Please select one setting:</p>
                              <input type="radio" id="Daily" name="rep_setting" value="Daily">
                              <label for="Daily">Daily</label><br>
                              <input type="radio" id="Weekly" name="rep_setting" value="Weekly">
                              <label for="Weekly">Weekly</label><br>
                              <input type="radio" id="Monthly" name="rep_setting" value="Monthly">
                              <label for="Monthly">Monthly</label>
                        </div>  
                        
                        <div class=" col-6">
                                <br/>
                                <br/>
                                <div class="form-group row">
                                   <div class="col-3">
                                       <label>Start:</label>
                                   </div>
                                   <div class="col-9">
                                       <input  type="datetime-local" id="rep_start" class="form-control"/>
                                   </div>
                                </div>
                        </div>  
 
                    </div> 
 
                    </div>  
               
                <!--Modal Footer Start-->  
                <div class="modal-footer">  
                    <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button" onclick="DismissModal('#modal-repetitive-task')">Cancel</button>  
                    <button onclick="SubmitChangeRepetitive(@Model.Id)" class="btn btn-success relative" id="btnSubmitRepetitive">   
                        Submit  
                    </button>  
                </div>  
                <!--Modal Footer End-->   
  
                </div>  
  
  
<!--Modal Body End-->  
    </div>  
</div> 

@section Scripts{ 
<script src="~/js/Task/TaskScript.js"></script>
}