@using HotelWorkOrderManagement.DTO.Task.DataOut
@using System.Globalization


<div >
    <div class="row">
        <div class="col-2 ml-02">
            <button type="button" class="circle-button btn btn-danger " onclick="sort('priority')">Priority</button>
        </div>
        <div class="col-2 ml-02">
            <button type="button" class="circle-button btn btn-warning " onclick="sort('status')">Status</button>
        </div>
        <div class="col-2 ml-02">
            <button type="button" class="circle-button btn btn-danger  " onclick="sort('due_date')">DueDate</button>
        </div>
        <div class="col-2 ml-02">
            <button type="button" class="circle-button btn btn-info ">Search</button>
        </div>
        <div class="col-2 switch">
          <label for="stackedCheck1">Team</label>
          <input id="TeamTasksSwitch" onchange="SelfTeamTasks('https://localhost:7221/Tasks/Tasks?team=@(!ViewBag.Team)')" class="form-check-input" type="checkbox" data-toggle="toggle" @(ViewBag.Team!=false ? "checked":"")/>
        </div>
    </div>
    <hr />
    <h1 class="row justify-content-center">@if(ViewBag.Team){<text>Team tasks</text>}else{<text>My tasks</text>}  </h1>
    <hr />
    <div class="container p-0">
        
            @foreach(TaskDataOut Task in ViewBag.Tasks)
            {
            <div class="shadow border border-primary rounded p-3 mb-3 @(Task.Domain=="Maintaining"?"bg-maintaining":"bg-housekeeping")" id="@Task.Id" ontouchstart="clickHold('@Task.Id','@Task.TaskSelfAsign')" onmousedown="clickHold('@Task.Id','@Task.TaskSelfAsign')" @*onclick="location.href='https://localhost:7221/Tasks/GetTask?id='+@Task.Id"*@>
                <div calss="col-4 row">
                        <h2 >@Task.Name</h2>
                        <p>@Task.Description</p>
                        <div class="row">
                        @if (@ViewBag.Team) { <h4 class="col-5"><span class="fa fa-group" style="font-size:18.72px"></span> @Task.AsigneeGroup </h4> <h4 class="col-7">Self Asign: @Task.TaskSelfAsign</h4>}
                        </div>
                        <div class="row">
                            <h4 class="col-6 blue bi bi-geo-alt-fill"> @Task.Position</h4>
                            <h4 class="col-5 ">Status:@Task.Status</h4>
                        </div>

                    </div>                    
                    <hr/>
                    <div class="row">
                        @if (Task.DueDate.HasValue) { <h4 class="col-7 bi bi-clock"> @Task.DueDate.Value.ToString("MM/dd/yyyy hh:mm") </h4>}
                        <h4 class="col-5 ">Priority: @Task.Priority</h4>
                    </div>
                </div>
            }
        
    </div>
</div>

<!--Modal-->  
<div aria-hidden="true" aria-labelledby="modal-take-team-task" role="dialog" tabindex="-1" id="modal-take-team-task" class="modal fade">  
    <div class="modal-dialog">  
        <!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Take selected TASK</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DismissModal('#modal-take-team-task')"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
                <div class="modal-body form-horizontal">  
                    <div class="form-group row">
                         <div class="col-6">
                             <button class="btn-success btn" onclick="TakeSelectedTask('@ViewBag.UserId')">Takce selected TASK</button>
                         </div>
 
                    </div> 
 
                </div>  
                
  
                </div>  
  
  
<!--Modal Body End-->  
    </div>  
</div> 

@section Scripts{ 
<script src="~/js/Task/TasksScript.js"></script>
<script>
    var sortOrder = "@ViewBag.SortOrder";
    function sort(criterion){
        switch(criterion)
        {
            case "priority":
            if(sortOrder=="priority")
            sortOrder="priority_desc";
            else 
            sortOrder="priority";
            break;

            case "status":
            if(sortOrder=="status")
            sortOrder="status_desc";
            else
            sortOrder="status";
            break;

            case "due_date":
            if(sortOrder=="due_date")
            sortOrder="due_date_desc";
            else
            sortOrder="due_date";
            break;

        }

        window.location='https://localhost:7221/Tasks/Tasks?team=@(ViewBag.Team)&sortOrder=' + sortOrder;
    }
    
</script>
}