@model BoatsMontenegro.Models.Boat

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Brush Script MT',cursive;text-shadow: 8px 8px 8px black;color: white;">Objavi svoj brod</h2>

<div class="container">
    <h2>Objavite svoj brod<small>Forma:</small></h2> <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Ime</span>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Kategorija</span>
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Kapacitet</span>
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Cijena (€)</span>
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Velicina (m)</span>
            @Html.EditorFor(model => model.Size)
            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Motor </span>
            @Html.EditorFor(model => model.Engine)
            @Html.ValidationMessageFor(model => model.Engine, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Potrosnja goriva</span>
            @Html.EditorFor(model => model.FuelConsumption)
            @Html.ValidationMessageFor(model => model.FuelConsumption, "", new { @class = "text-danger" })
        </div>

        <div style="margin-left:20%; color:black">
            <input type="submit" value="Objavi" />
        </div>
    }
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {@Scripts.Render("~/bundles/jqueryval")}


@*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"*@ 