@model BoatsMontenegro.Models.Boat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
