@model IEnumerable<BoatsMontenegro.Models.Boat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create", "Boat") <br />
    @Html.ActionLink("Povratak na pocetnu", "Index","Home")
</p> <br />
<table class="table" style="color:white">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Capacity
        </th>
        <th>
            Price
        </th>
        <th>
            Size
        </th>
        <th>
            Engine
        </th>
        <th>
            Fuel consumption
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Name
    </td>
    <td>
        @item.Category
    </td>
    <td>
        @item.Capacity
    </td>
    <td>
        @item.Price
    </td>
    <td>
        @item.Size
    </td>
    <td>
        @item.Engine
    </td>
    <td>
        @item.FuelConsumption
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.BoatID }) |
        @Html.ActionLink("Details", "Details", new { id = item.BoatID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BoatID })
    </td>
</tr>
    }

</table>


@*<div>
    @foreach (var item in Model)
    {
        <div style="border:1px solid black; float: left;">
            
            @item.Size,
            @item.Capacity,
            @item.Engine,
            <img src="@item.Size" />
        
            @item.FuelConsumption
        <br/>
        
            @Html.ActionLink("Edit", "Edit", new { id = item.BoatID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BoatID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BoatID })
        
    </div>
    }
</div>*@