@model IEnumerable<BoatsMontenegro.Models.Boat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Size
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Size
            </td>
            <td>
                @item.Capacity
            </td>
            <td>
                @item.Engine
            </td>
            <td>
                @item.FuelConsumption
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BoatID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BoatID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BoatID })
            </td>
        </tr>
    }

</table>

<div>
    @foreach (var item in Model)
    {
        <div style="border:1px solid black; float: left;">
            
            @item.Size,
            @item.Capacity,
            @item.Engine,
            <img src="@item.Size" />
        
            @item.FuelConsumption
        <br/>
        
            @Html.ActionLink("Edit", "Edit", new { id = item.BoatID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BoatID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BoatID })
        
    </div>
    }
</div>