@model IEnumerable<BoatsMontenegro.Models.Boat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelConsumption)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoatID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoatID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoatID })
        </td>
    </tr>
}

</table>
