@model IEnumerable<BoatsMontenegro.Models.Boat>
<link rel="stylesheet" href="~/Style.css" />

@{
    ViewBag.Title = "ShowOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="ShowOneDiv1">
    <div class="row">
        <div class="col-md-6 mx-auto" id="ShowOneDiv2">
            <div class="card">
                <div class="card-body">
                    @foreach (var item in Model)
                     {
                        <div class="row" style="margin-right:28%">
                            <div class="col">
                                <center>
                                    <img style="width:145%;" src="~/ImagesFolder/brodSlika.jpeg" />
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Ime:  @Html.DisplayFor(modelItem => item.Name)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Kategorija:  @Html.DisplayFor(modelItem => item.Category)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Kapacitet:  @Html.DisplayFor(modelItem => item.Capacity)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Cijena:  @Html.DisplayFor(modelItem => item.Price)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Velicina:  @Html.DisplayFor(modelItem => item.Size)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Motor:  @Html.DisplayFor(modelItem => item.Engine)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Potrosnja goriva:  @Html.DisplayFor(modelItem => item.FuelConsumption)</h3>
                                </center>
                            </div>
                        </div>
                     }

                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
            <div class="col">
                <center>

                    <br />
                    <button type="submit" value="Login" class="btn btn-info btn-md ">Prijava</button>
                    <br />
                    <br />
                    <br />
                    <center><h>Nemate nalog? Napravite ovde</h></center>
                    <br />
                    <a href="~/Account/Register" class="btn btn-info btn-md" role="button">Napravi nalog</a>
                </center>
            </div>
        </div>

    </div>*@


@*@foreach (var item in Model)
    {

        <div>
            <div>@Html.DisplayFor(modelItem => item.Name)</div>

            <div>@Html.DisplayFor(modelItem => item.Category)</div>

            <div>@Html.DisplayFor(modelItem => item.Price)</div>

            <div>@Html.DisplayFor(modelItem => item.Capacity)</div>

            <div>@Html.DisplayFor(modelItem => item.Size)</div>

            <div>@Html.DisplayFor(modelItem => item.Engine)</div>

            <div>@Html.DisplayFor(modelItem => item.FuelConsumption)</div>

        </div>
    }*@
