
@{
    ViewBag.Title = "TakeReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BoatsMontenegro.Models.Reservation
<h2>TakeReservation</h2>

<div>
    <form action="" method="post">

        <div>
        <label for="BoatID">Boat id:</label>
        <input type="number" id="BoatID" name="BoatID" />
        </div>

        <div>
            <label for="DateFrom">Date from:</label>
            <input type="date" name="DateFrom" id="DateFrom" />
        </div>
        <div>
            <label for="DateTo">Date to:</label>
            <input type="date" name="DateTo" id="DateTo" />
        </div>
        <div>
            <label for="NeedCaptain">Do you need captain?</label>
            <input type="checkbox" name="NeedCaptain" id="NeedCaptain" />
        </div>
        <div>
            <input type="submit" value="submit" />
        </div>
</form>
</div>


    @*<form>
            <label for="BoatID">Boat ID:</label>
            <input type="number" id="BoatID" name="BoatID" value="@Model.Boat.BoatID" />

            <label for="DateFrom">Date from:</label>
            <input type="date" name="DateFrom" id="DateFrom" value="@Model.DateFrom" />

            <label for="DateTo">Date to:</label>
            <input type="date" name="DateTo" id="DateTo" value="@Model.DateTo" />

            <label for="NeedCaptain">Do you need captain?</label>
            <input type="button" name="NeedCaptain" id="NeedCaptain" value="@Model.NeedCaptain" />

            <input type="submit" value="submit" />
        </form>*@

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@



    <!--using (Html.BeginForm())
    {
        Html.AntiForgeryToken()
       <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Boat.BoatID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Boat.BoatID, new { htmlAttributes = new { @class = "form-control", @name = "BoatID" } })
                    @Html.ValidationMessageFor(model => model.Boat.BoatID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                </div>-->
    @*<label for="DateFrom">Date Of Birth</label>
        <input type="date" name="dateofbirth" id="dateofbirth">*@
    <!--</div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NeedCaptain, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.NeedCaptain)
                        @Html.ValidationMessageFor(model => model.NeedCaptain, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserve" class="btn btn-default" />
                </div>
            </div>
        </div>
    }-->
