<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Style.css" />
</head>


<body style="background-color: #012A3C;">

    <header class="LayoutHeader">
        <a href="~/Home/Index"><img id="logoNavbar" src="~/ImagesFolder/MonteboatLogo.png" alt="boatLogo" width="100" height="35"></a>
        <nav class="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="~/Ponuda/WholeOffer">Kompletna ponuda</a></li>
                <li class="nav-item"><a href="~/Boat/Create">Oglasi svoj brod</a></li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            OSTALO
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="~/Ponuda/WholeOffer">Kategorije</a> <br />
                            <a class="dropdown-item" href="~/Reservation/Create">Rezervisi brod</a> <br />
                            <a class="dropdown-item" href="~/Ostalo/NaciniPlacanja">Nacini placanja</a> <br />
                            <a class="dropdown-item" href="~/AboutUs/AboutUsPage">O nama</a> <br />
                            <a class="dropdown-item" href="~/Ostalo/Kontakt">Kontakt</a>
                            <a class="dropdown-item" href="~/Ostalo/RecenzijeIskustva">Recenzije i iskustva</a> <br />
                            <a class="dropdown-item" href="~/Ostalo/NajcescaPitanja">Najcesca pitanja</a> <br />
                            <a class="dropdown-item" href="~/Reservation/ScheduledAppointment">Zauzeti termini</a>

                        </div>
                    </div>
                </li>
                <li class="nav-item"> @Html.Partial("_LoginPartial")</li>
            </ul>
        </nav>

       
        <!--<form action="~/Account/Login">
            <button class="NavbarButton">Prijava</button>-->      @*<a href="~/Account/Login"><button class="NavbarButton">Prijava</button></a>*@
        <!--</form>-->
       
    </header>

    @RenderSection("scripts", required: false)

    @RenderBody()

<div id="divFooter123">
    <footer class="footerCss">
        <div id="LittleDivsFooter1">
            <p>
                RADNO VREME KORISNICKOG SERVISA: <br />
                Radnim danima: 08h - 22h <br />
                Subotom: 08h - 16h <br />
                Nedeljom: 10h - 14h
            </p>
        </div>
        <div id="LittleDivsFooter2">
            <a href="~/AboutUs/AboutUsPage" class="footerLinks">O nama</a> <br />
            <a href="~/Ostalo/Kontakt" class="footerLinks">Kontakt</a> <br />
            <a href="~/Ostalo/NajcescaPitanja" class="footerLinks">Najcesca pitanja</a>
        </div>
        <div id="LittleDivsFooter3">
            Potrazite nas na drustvenim mrezama: <br />
            <a href="https://sr-rs.facebook.com/" class="footerLinks">Facebook</a> <br />
            <a href="https://www.instagram.com/" class="footerLinks">Instagram</a> <br />
            <a href="https://www.linkedin.com/" class="footerLinks">LinkedIn</a> <br />
        </div>
    </footer>
</div>
</body>
</html>



