@if (!string.IsNullOrEmpty(Convert.ToString(Session["Username"])))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <a href="#" style="position: absolute; top: 100%; right:10%; font-family: 'Open Sans', sans-serif; font-size: 140%; color:white">@Session["FirstName"] @Session["LastName"]</a>
        <br />
        <br /> <br />
        <a href="javascript:document.getElementById('logoutForm').submit()" style="position: absolute; top: 10%; right: 15%; font-family:'Libre Baskerville', serif;color:white; font-size: 140%">
            <button type="button" class="button-1">Logout</button>
        </a>
    }
}


else
{
    <span style="position: absolute; top: 10%; right: 10%; font-family: 'Open Sans', sans-serif; font-size: 140%">
        <button type="button" class="button-1">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
    </span>

}





@*@if (!string.IsNullOrEmpty(Convert.ToString(Session["Username"])))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@Session["FirstName"] @Session["LastName"]</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@
