@using BigGame.Models
@using BIgGameCore.Infrastructure
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BIgGameCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/search.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/rezeervacija.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent " style="margin:0!important;border:0!important;">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">BIgGame</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1" style="width:100%;">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AvailableBoats">Iznajmite brod</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Uvid" asp-action="Boats">Dostupni brodovi</a>
                            </li>
                            <li class="nav-item" style="align-self:center;margin-left:auto;">
                                <div class="flex-grow-1 nav-link">
                                    @{
                                        BigGame.Models.User currentUser = Context.Session.GetObject<BigGame.Models.User>("CurrentUser");
                                        if (currentUser != null)
                                        {

                                            <a href="~/Home/Profile/@currentUser.UserID">
                                                <span class="text-white"><i>@(currentUser.FirstAndLastName())</i></span>
                                            </a>
                                            <a href="~/Login/LogOut"><i class="bi bi-box-arrow-right" style="color: #ff0085 !important;"></i></a>

                                        }
                                        else
                                        {
                                            <a class=" text-white" href="~/Home/Registration">Registracija</a>

                                            <a class=" text-white" href="~/Home/Login">Log in</a>

                                        }
                                    }
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>

        <!--Hey! This is the original version
        of Simple CSS Waves-->

        <div class="inner-header flex" style="height:40vh">
            <form action="~/BoatAvailability/AvialabilityResult" method="post">
                <div class="container">
                    <div class="form-group" id="formSearch">
                        <div class='input-group'>

                            Početak:
                            <input id="startDate" name="startDate" type="datetime-local" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" step="" />

                        </div>
                        <div class='input-group '>

                            Kraj:
                            <input id="endDate" name="endDate" type="datetime-local" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-ddTHH:mm")" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn-success btn-lg" style="position">Pretraži <i class="bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#f8f9fa" />
                </g>
            </svg>
        </div>
        <!--Waves end-->

    </div>
    <!--Header ends-->

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BIgGame - by <a href="https://www.instagram.com/gajic_mladen/" target="_blank">Mladen Gajić</a>
        </div>
    </footer>
</body>
<script>

</script>
</html>
