@using HotelWorkOrderManagement.DTO.User.DataIn
@model HotelWorkOrderManagement.DTO.User.DataIn.UserDataIn;

<table class="table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    @{
        foreach(UserDataIn User in ViewBag.Users)
        {
            <tr id='@User.Id'>
            <td>@User.Name</td>
            <td>@User.LastName</td>
            <td>@User.UserName</td>
            <td>@User.Password</td>
            <td>@User.Role</td>
            <td><div class="col-3">
            <a href="#" onclick="removeUser(@User.Id)" class="btn btn-danger">Remove</a>
            </div>
            </td>
            <td>
            <div class="col-3">
            <a class="btn btn-primary" asp-controller="Users" asp-action="Upsert" asp-route-id="@User.Id">Update</a>
            </div>
            </td>
            </tr>   
        }
}
</table>

@section Scripts{ 
<script src="~/js/UsersScript.js"></script>
}
