<link rel="stylesheet" href="~/css/profile.css" />

@using BigGame.Models
@model List<Boat>

<link rel="stylesheet" href="~/css/boatsOfUser.css"/>
<section class="section about-section gray-bg" id="about">
    <div class="container" style="padding:0 30px 0 0">
        <h2>@ViewBag.message</h2>
        <div><a href="~/home/profile/@Model[0].OwnerID"> Nazad na profil ( @Model[0].Owner.FirstAndLastName() )</a></div>
        <div class="reservationsOfUser-gallery">
            @foreach (Boat b in Model)
            {

                <a href="../../Uvid/boat/@b.BoatID">
                    <div class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            @if (b.BoatImages.Count > 0)
                            {
                                <img src="~/images/boats/@b.BoatImages[0].Image" alt="Generic placeholder image" width="200" class="mr-lg-5 order-2 order-lg-2">
                            }

                                @if (ViewBag.isMyProfile)
                                {
                                    <a onclick="deleteBoatOfUser('@b.BoatID','@b.OwnerID','@b.Name')">
                                        <i class="bi bi-trash  remove-icon"></i>
                                    </a>

                                    <a onclick="editBoat('@b.BoatID','@b.OwnerID','@b.Name')">
                                        <h4><i class="bi bi-pen  edit-icon"> Izmeni brod</i></h4>
                                    </a>
                                }
                                else { 
                                    <a class="edit-icon"></a>
                                }
                                <div class="media-body order-1 order-lg-1">
                                    <h3 class="mt-0 font-weight-bold mb-2"> @b.Name</h3>
                                    <h4> @b.Make - @b.Model</h4>
                                    <h4><i class="bi bi-calendar-date"></i> @b.Year</h4>
                                    <p class="font-italic text-muted mb-0 small"><i class="bi bi-chat-left-text"></i> @b.Desctription </p>
                                    <h4><i class="bi bi-person"></i> @b.PassangerCapacity</h4>
                                    <h4><i class="bi bi-speedometer2"></i> 25 km/h</h4>
                                    <h4><i class="bi bi-funnel"></i> @b.FuelCapacity l</h4>
                                </div>
                            </div> <!-- End -->
                    </div>
                </a>
            }
            @if (ViewBag.isMyProfile)
            {
            <a href="../../Boat/AddNewBoat">
                <div class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center justify-content-center flex-column flex-lg-row p-3">

                        <h2><i class="bi bi-plus-square-fill"> Dodaj novi brod</i></h2>
                    </div> <!-- End -->
                </div>
            </a>
            }
        </div>
    </div>
</section>

<script>
    function deleteBoatOfUser(boatID,ownerID,boatName) {
        if (confirm("Da li zelite da obrisete brod '#" + boatID + "|" + boatName + " '")) {

            window.location.href = "/Boat/deleteBoat?boatID=" + boatID + "&ownerID=" + ownerID ;
        }
    }
    function editBoat(boatID, ownerID, boatName) {
        if (confirm("Da li zelite da izmenite brod '#" + boatID + "|" + boatName + " '")) {

            window.location.href = "/Boat/editBoat?boatID=" + boatID + "&ownerID=" + ownerID;
        }
    }</script>