<link rel="stylesheet" href="~/css/profile.css" />
@model BigGame.Models.User
@using BigGame.Models
<link rel="stylesheet" href="~/css/ReservationsOfUser.css"/>
<section class="section about-section gray-bg" id="about">
    <div class="container" style="padding:0 30px 0 0">
        <div><a href="~/home/profile/@Model.UserID"> Nazad na profil ( @Model.FirstAndLastName() )</a></div>
        <div class="reservationsOfUser-gallery">
            @foreach (Reservation r in Model.Reservations)
            {

                <div class="">
                    <div class="card p-3">
                        <div class="d-flex flex-row mb-3">
                            
                            <img src="~/images/boats/@r.BoatAvailability.Boat.BoatImages[0].Image" width="70">
                            <div class="d-flex flex-column ml-2">
                                <span>#@r.ReservationID - @r.BoatAvailability.Boat.Name</span>
                                <span class="text-black-50">Početak: @r.BoatAvailability.StartDate.ToString("dd.MM.yyyy HH:mm")</span>
                                <span class="text-black-50">Kraj: @r.BoatAvailability.EndDate.ToString("dd.MM.yyyy HH:mm")</span>
                                <span class="ratings"><i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <h6>@r.BoatAvailability.Boat.Desctription</h6>
                        <div class="d-flex justify-content-between install mt-3">
                            <span class="text-black-50">Status rezervacije:</span>
                            @switch (r.status)
                            {
                                case ReservationStatus.ACTIVE:

                                    <span style="color:lawngreen"> AKTIVNA</span>

                                    break;
                                case ReservationStatus.CANCELED:

                                    <span style="color:darkred"> OTKAZANA</span>

                                    break;
                                case ReservationStatus.IN_PROGRESS:

                                    <span style="color:yellow"> U TOKU</span>

                                    break;

                            }
                        </div>
                        <div>
                            <a href="~/Reservation/Details/@r.ReservationID"><button class="btn btn-light">Izmeni</button></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>