@model BoatsMontenegro.Models.Reservation

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Brush Script MT',cursive;text-shadow: 8px 8px 8px black;color: white;">Objavi svoj brod</h2>
<div class="container">
    <h2>Zakazite brod:<small>Forma:</small></h2> <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Jedinstveni broj broda</span>
            @*@Html.EditorFor(model => model.Boat.BoatID)*@
            <input type="number" name="Boat.BoatID" id="" />
            @Html.ValidationMessageFor(model => model.Boat.BoatID, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Od kada</span>
            <input type="date" name="DateFrom" id="">
            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
        </div>

        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Do kada</span>
            <input type="date" name="DateTo" id="">
            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
        </div>
        
        <div class="group">
            <span style="color:black; font-family:'Brush Script MT',cursive; font-size:180%">Treba li vam kapetan?</span>
            <div class="checkbox">
                @Html.EditorFor(model => model.NeedCaptain)
                @Html.ValidationMessageFor(model => model.NeedCaptain, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-left:20%; color:black">
            <input type="submit" value="Objavi" />
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*value="@Model.DateFrom"*@ 