@model BoatsMontenegro.Contracts.ReservationContract
@using BoatsMontenegro.Models
@*@using System.Linq*@
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var boats = (IEnumerable<Boat>)ViewData["boats"];
    var ids = boats.Select(x => x.BoatID).ToList();
}


<div style="position:absolute; top:145%; left:50%;">
    <div class="login-box">
        @using (Html.BeginForm("Create", "Reservation", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2>Zakazite brod</h2>
            <form>
                <div class="user-box">
                    <label>Broj broda</label> <br /> 
                    @Html.DropDownListFor(model => model.id, new SelectList(ids), "Izaberi brod")
                </div> <br />
                <div class="user-box">
                    <input type="date" name="DateFrom" required="" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">>
                    <label>Od kada</label>
                </div>
                <div class="user-box">
                    <input type="date" name="DateTo" required="" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">>
                    <label>Do kada</label>
                </div>
                <div class="user-box">
                    <input type="text" name="NeedCaptain" required="">
                    <label>Da li vam je potreban kapetan?</label>
                </div>
                <a onclick="this.closest('form').submit();return false;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Zakazi
                    @*<input type="submit" value="Prijava" class="btn btn-default" />*@
                </a>
            </form>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Povratak na pocetnu", "Index", "Home")
</div>



@*value="@Model.DateFrom"*@

@*@Html.EditorFor(model => model.NeedCaptain)*@

@*<input type="number" name="Boat.BoatID" id="" />*@
@*@Html.DropDownList("BoatID", new List<SelectListItem>() {
        new SelectListItem { Text="1",Value="1"},
        new SelectListItem { Text="2", Value="2"}
    }, new { @class = "form-control" })*@
@*, new { @class = Model.Boat}*@
@*<input type="number" name="BoatID" id="" />*@
@*@Html.DropDownListFor(model =>model.Boat.BoatID)*@ @*new SelectList(Enum.GetValues(typeof(BoatsMontenegro.Models.Boat))), "Odaberi Id")*@
