@model BoatsMontenegro.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="formeProba">
    <div class="login-box">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2>Prijava</h2>
            <form>
                <div class="user-box">
                    <input type="text" name="UserIdentifier" required="">                    
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="Password" required="">
                    <label>Password</label>
                </div>
                <a onclick="this.closest('form').submit();return false;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                    @*<input type="submit" value="Prijava" class="btn btn-default" />*@
                </a>
            </form>
            <br />
            <a href="~/Account/Register">Nemas nalog? Registruj se</a>
        }
    </div>
</div> 

    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.UserIdentifier, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserIdentifier, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserIdentifier, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Prijava" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@
