@model BoatsMontenegro.Models.Boat

@{
    ViewBag.Title = "PublishYourBoat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="font-family: Arial, Helvetica, sans-serif;" id="pblshBoat">
    <h2>Objavite svoj brod:<small>Forma:</small></h2> <br />

    <form action="/Boat/PublishYourBoat" method="post">

        <div class="group">
            <input type="text" id="ImeBroda" name="name" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Ime broda</label>
        </div>

        <div class="group">
            <input type="text" name="Kategorija" id="category" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Kategorija</label>
        </div>

        <div class="group">
            <input type="number" name="Kapacitet" id="capacity" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Kapacitet</label>
        </div>

        <div class="group">
            <input type="text" name="Cijena" id="price" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Cijena</label>
        </div>

        <div class="group">
            <input type="text" name="Velicina" id="size" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Velicina</label>
        </div>

        <div class="group">
            <input type="text" name="Motor" id="engine" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Motor</label>
        </div>

        <div class="group">
            <input type="text" name="PotrosnjaGoriva" id="fuelConsumption" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Potrosnja goriva</label>
        </div>

        <div class="group">
            <input type="datetime" name="DateFrom" id="DateFrom" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Date from</label>
        </div>

        <div class="group">
        <input type="date" name="DateTo" id="DateTo" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Date to</label>
        </div>


<div style="margin-left:20%">
    <input type="submit" value="Objavi" />
</div>

    </form>


<br />
<br />
<p class="footer">
<p style="margin-left:25%; color:black;">Hvala vam sto koristite nase usluge!</p>
<a href="~/Home/Index" target="_blank" style="margin-left:25%; color:black;">Povratak na pocetnu stranicu</a>
</div>


@*@using (Html.BeginForm("PublishYourBoatSecond", "Form", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.Name)
        @Html.TextBoxFor(m => m.Size)
        @Html.TextBoxFor(m => m.Capacity)
        @Html.TextBoxFor(m => m.Engine)
        @Html.TextBoxFor(m => m.FuelConsumption)
        @Html.TextBoxFor(m => m.Price)
        @Html.TextBoxFor(m => m.Category)

        <input type="submit" value="Submit strongly type synchronous form" />
    }*@