@model IEnumerable<BoatsMontenegro.Models.Boat>

@{
    ViewBag.Title = "ShowOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="ShowOneDiv1">
    <div class="row">
        <div class="col-md-6 mx-auto" id="ShowOneDiv2">
            <div class="card">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <div class="row" style="margin-right:28%">
                            <div class="col">
                                <center>
                                    <img style="width:145%;" src="~/ImagesFolder/brodSlika.jpeg" />
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Ime:  @Html.DisplayFor(modelItem => item.Name)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Kategorija:  @Html.DisplayFor(modelItem => item.Category)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Kapacitet:  @Html.DisplayFor(modelItem => item.Capacity)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Cijena:  @Html.DisplayFor(modelItem => item.Price)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Velicina:  @Html.DisplayFor(modelItem => item.Size)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Motor:  @Html.DisplayFor(modelItem => item.Engine)</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row" id="ShowOneTekst">
                            <div class="col">
                                <center>
                                    <h3>Potrosnja goriva:  @Html.DisplayFor(modelItem => item.FuelConsumption)</h3>
                                </center>
                            </div>
                        </div>
                    }
                    <br /> <br />
                </div>
            </div>
        </div>
        <form action="~/Reservation/Create">
            <button class="NavbarButton" style="background-color:black; color:white; width:35%; margin-left:35%">Rezervisi</button>
        </form>
    </div>
</div>


@*<a href="~/Account/Login"><button class="NavbarButton">Prijava</button></a>*@