@model IEnumerable<BoatsMontenegro.Models.Boat>
@{
    ViewBag.Title = "WholeOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="input-group mb-3" style="position: absolute; left: 40%; font-family: Arial, Helvetica, sans-serif;" id="wholeOfferScroll">
    <div class="input-group-prepend" style="">
        <button class="input-group-text" type="submit" name="search" style="background-color: #ad0e1f; color: white; height: 150%; ">PRETRAGA</button>
    </div>

    <div>
        <input type="text" class="form-control" name="search" placeholder="cijena-kapacitet" style="background-color: #ad0e1f; color: white; height:150%;">
    </div>

</div>
<br />
<br />
<br />
<br />

<div style="border: none; border-radius: 2px; overflow: hidden; position: relative; left: 28%; font-family: Arial, Helvetica, sans-serif;">

    <a href="~/Ponuda/Kategorije?category=Casual" class="CasualLinkK">
        <input value="Casual" type="button" style="padding: 10px 90px; outline: none;
            border: none; cursor: pointer; border-right:2px solid black; color: white; background-color: #ad0e1f; font-size:140%;" class="kateg" />
    </a>
    <a href="~/Ponuda/Kategorije?category=Fishing">
        <input value="Fishing" type="button" style="padding: 10px 90px; outline: none;
            border: none; cursor: pointer; border-right:2px solid black; color: white; background-color: #ad0e1f;font-size:140%" class="kateg" />
    </a>
    <a href="~/Ponuda/Kategorije?category=Yacht">
        <input value="Yacht" type="button" style="padding: 10px 90px; outline: none;
            border: none; cursor: pointer; border-right:2px solid black; color: white; background-color: #ad0e1f; font-size:140%" class="kateg" />
    </a>
</div>

<br />
<br />

@foreach (var p in Model)
{
    <div class="container-fluid d-flex justify-content-center" style="width: 25%; float: left; margin: 60px; font-family: Arial, Helvetica, sans-serif;">
        <div class="row mt-5">
            <div class="col-sm-11">
                <div class="card">
                    <img src="https://static-s.aa-cdn.net/img/ios/1349495816/26ec3b631f7d13ca183aa420ae8495f7?v=1" class="card-img-top" width="100%">
                    <div class="card-body pt-0 px-0">
                        <br />
                        <div class="d-flex flex-row justify-content-between mb-0 px-3">
                            <span class="text-muted">Ime</span>
                            <h6>@Html.DisplayFor(modelItem => p.Name)</h6>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span class="text-muted">Cijena</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0">@Html.DisplayFor(modelItem => p.Price)</h5></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span class="text-muted">Kategorija</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0">@Html.DisplayFor(modelItem => p.Category)</h5></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span class="text-muted">Kapacitet</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0">@Html.DisplayFor(modelItem => p.Capacity) osoba</h5></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between p-3 mid">
                            <div class="d-flex flex-column">
                                <small class="text-muted mb-1">Motor</small>
                                <div class="d-flex flex-row">
                                    <img src="https://imgur.com/iPtsG7I.png" width="35px" height="25px"><div class="d-flex flex-column ml-1">
                                        <small class="ghj">@Html.DisplayFor(modelItem => p.Engine)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <small class="text-muted mb-2">Potrosnja goriva</small>
                                <div class="d-flex flex-row">
                                    <img src="~/ImagesFolder/gas-pump.png"><h6 class="ml-1">@Html.DisplayFor(modelItem => p.FuelConsumption)</h6>
                                </div>
                            </div>
                        </div>

                        <a href="/Ponuda/ShowOne/@p.BoatID">
                            <iput type="button" class="btn btn-danger btn-block">Pregledaj i rezervisi</iput>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    jQuery("html").animate({
        scrollTop: jQuery("#wholeOfferScroll").offset().top - 100
    });
</script>


