@model IEnumerable<BoatsMontenegro.Models.Boat>
@{
    ViewBag.Title = "WholeOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<nav class="cls4">
        <label for="touch"> <span class="cls5"> Odaberite kategoriju</span> </label>
        <input type="checkbox" id="touch">
        <ul class="slide">
            <li class="cls1"> <a href="~/Ponuda/Kategorije?category=Fishing" class="cls2">Fishing boats</a> </li>
            <li class="cls1"> <a href="~/Ponuda/Kategorije?category=Yacht" class="cls2"> Yacht boats</a> </li>
            <li class="cls1"> <a href="~/Ponuda/Kategorije?category=Casual" class="cls2">Casual boats</a> </li>
        </ul>
    </nav>*@
<div style="justify-content:space-evenly; display:flex">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:240%; height:50px">
            Kategorije
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/Ponuda/Kategorije?category=Casual">Casual</a> <br />
            <a class="dropdown-item" href="~/Ponuda/Kategorije?category=Fishing">Fishing</a> <br />
            <a class="dropdown-item" href="~/Ponuda/Kategorije?category=Yacht">Yacht</a>
        </div>
    </div>

    <div>
        <form>
            <input type="text" name="search" style="height:35px;" />
            <button class="searchButton" type="submit" name="type for search">Potrazi</button>
        </form>
    </div>
</div> <br /> <br />
@foreach (var p in Model)
{
    <ul id="tilesWrap">
        <li id="liWholeOffer">
            <span style="color: whitesmoke;font-family:Brush Script MT,cursive;text-shadow: 8px 8px 8px black;font-size: 200%; justify-content:space-around;display:flex;">@p.Name</span> <br />
            <span style="color: whitesmoke; font-family: Brush Script MT,cursive; text-shadow: 8px 8px 8px black; font-size: 130%; justify-content: space-around; display: flex;">
                Id broda: @p.BoatID <br />
                Kategorija: @p.Category <br />
                Kapacitet: @p.Capacity <br />
                Cijena: @p.Price <br />
                Velicina: @p.Size <br />
                @*Motor: @p.Engine <br />
                    Potrosnja goriva: @p.FuelConsumption <br />*@
                @*Id broda: @p.BoatID*@
            </span> <br />           
        </li>
    </ul>
    <form action="~/Ponuda/ShowOne/@p.BoatID">
        <button id="PregledajRezervisi" style="margin-left: 46%; width: 10%; color: black; background: linear-gradient(#dd3e54,#6be585 ); height:40px; font-weight:bold">
            Pregledaj i rezervisi
        </button>
    </form> <br /> <br /> <br />
}




@*style="border-radius: 8px;
    border-width: 0;color: #333333;cursor: pointer;
    display: inline-block;font-size: 14px;font-weight: 500;
    line-height: 20px;list-style: none;margin: 0;padding: 10px 12px;
    text-align: center;transition: all 200ms;vertical-align: baseline;white-space: nowrap;user-select: none;
    -webkit-user-select: none;touch-action: manipulation;margin-left:45%;"*@