@using System.Globalization
@using HotelWorkOrderManagement.DTO.Group.DataOut
@{
    bool isCurrentUserLeader;
}
<div class="container">
    <h1 class="row justify-content-center">My Teams</h1>
    <hr />
    <div class="container">
        
            @foreach(GroupDataOut Group in ViewBag.Groups)
            {
            int id = Group.Id;
            <div class="row shadow border border-primary rounded p-3 mb-3">
                <div class="row" onclick="hide(@id)">
                <h2><span class="fa fa-group" style="font-size:1.2em;"></span> @Group.Name</h2>
                </div>
                <div class="row">
                <h3 class="col-6">Members count: @Group.MembersCount</h3>
                <h3 class="col-6">Leader: @Group.Leader.Name</h3>
                </div>
                <br />
                <br />

                <div calss="container" id="@id" hidden>
                    @{
                        isCurrentUserLeader = @ViewBag.UserId!=Group.Leader.Id;
                     }
                     <hr/>
                    <div class="row" hidden="@isCurrentUserLeader">
                        <div class="offset-1 col-5">
                            <a style="text-decoration:none !important;" class="bi bi-person-plus h2" onclick="AddMember('@Group.Id','#modal-add-member','@Group.Name')"><span style="text-decoration:none !important;"> Add</span></a>
                        </div>
                        <div class="col-6 pb-1">
                            <div class="switch">
                              <input onchange="SelfTaskAssign('@Group.Id','@(!Group.SelfTaskAssign)')" class="form-check-input" type="checkbox" data-toggle="toggle" @(Group.SelfTaskAssign ? "checked":"")/>
                              <label>Self Task Asign</label>
                            </div>
                        </div>
                    
                    </div>
                    <br/>
                    <br/>
                    @foreach(var member in Group.Members)
                    {
                     <div class="container row shadow rounded-2 bg-maintaining">
                            <div class="col-9 pt-3">
                                <div class="row">
                                    <p>First Name: <span class="h5">@member.Name</span></p>
                                </div>
                                <div class="row">
                                    <p>Last Name: <span class="h5">@member.LastName</span></p>
                                </div>
                            </div>
                            <div class="border-start border-white col-3 remove-member">
                                <a style="text-decoration:none !important; color:red;" class="bi bi-person-dash h1" hidden="@isCurrentUserLeader" onclick="SubmitRemoveMember('@member.Id','@Group.Id','@member.Name @member.LastName','@Group.Name')"></a>
                            </div>
                     </div>
                    <br/>
                    <br/>
                    }
                    
                </div>
            </div>
            }
        
    </div>
</div>

<!--Modal-->  
<div aria-hidden="true" aria-labelledby="modal-add-member" role="dialog" tabindex="-1" id="modal-add-member" class="modal fade">  
    <div class="modal-dialog">  
        <!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Add Member</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DismissModal('#modal-add-member')"><span aria-hidden="true">×</span></button>  
        </div>  
        <!--Modal Header End-->  
  
                <div class="modal-body form-horizontal">  
                    
                    <div class="form-group row">
                        <label id="GroupName"></label>
                    </div>
                    <br/>
        
                    <div class="form-group row">  
                        <div class="col-6">
                             <label >Employees:</label>
                        </div>

                        <div class="col-6">  
                   <select class="form-select" id="ModalEmployees">
                       <option selected="selected" disabled>Choose employee:</option>
                   </select> 
                        </div>  
                    </div>  
                    <br/>
  
                    </div>  
               
                <!--Modal Footer Start-->  
                <div class="modal-footer">  
                    <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button" onclick="DismissModal('#modal-add-member')">Cancel</button>  
                    <button onclick="SubmitAddMember()" class="btn btn-success relative" id="btnSubmit">   
                        Submit  
                    </button>  
                </div>  
                <!--Modal Footer End-->   
  
                </div>  
  
  
<!--Modal Body End-->  
    </div>  
</div> 

@section Scripts{ 
<script src="~/js/Group/GroupScript.js"></script>
}



